.sortBlock {
  padding-bottom: 15px;
  border-bottom: 1px solid #d9d9d9;
  margin-bottom: 15px;
}

.sortInner {
  display: flex;
  align-items: center;
}

.menuButton {
  display: flex;
  align-items: center;
}

.buttonTitle {
  margin-right: 3px;
  color: var(--orange);
  font-size: 14px;
  line-height: 16px;
}

.commentsContainer {
  padding: 30px 0;
}

.commentHeader {
  display: flex;
  align-items: center;
}

.commentPersonName {
  margin-right: 3px;
  color: var(--orange);
  font-size: 14px;
  line-height: 16px;
}

.commentCreated {
  color: var(--grey99);
}

.commentPersonGroup {
  display: inline-block;
  padding: 2px 10px;
  background: var(--greyD9);
  color: var(--black);
}
