button {
  background: transparent;
  border: 0;
  padding: 0;
  cursor: pointer;
}

.card {
  position: relative;
  background-color: var(--white);
  border-radius: 7px;
  padding: 20px 20px 10px;
  display: flex;
  flex-flow: row wrap;
  &:not(:last-child) {
    margin-bottom: 20px;
  }
}
.textContent > * {
  flex: 1 1 100%;
}
.card > * + * {
  padding: 13px 0 0;
}
.card:hover h2 a,
.card:focus-within h2 a {
  color: var(--orange);
}

@media all and (min-width: 1024px) {
  .card {
    background-color: transparent;
    flex-flow: row nowrap;
    max-height: 107px;
    padding: 0 40px;
  }
  .card > * + * {
    padding: 0;
  }
}

@media all and (min-width: 1540px) {
  .card {
    padding: 20px 60px;
    max-height: 147px;
    cursor: pointer;
  }
  .card:hover,
  .card:focus-within {
    outline: 1px solid var(--grey-demi-dark);
  }
}

// // User block ======

// .userBox {
//   cursor: pointer;
//   display: flex;
//   align-items: center;
// }

// .userBox:hover span {
//   color: var(--orange);
// }
// .userBox:hover .avatarBox {
//   box-shadow: 0 0 0 1px var(--orange);
// }

// .avatarBox {
//   width: 60px;
//   height: 60px;
//   padding: 5px;
//   border-radius: 100%;
//   box-shadow: none;
// }

// .avatarImage {
//   width: 100%;
//   height: 100%;
//   object-fit: cover;
//   border-radius: 100%;
// }

.username {
  position: relative;
  z-index: 1;
}

// @media all and (min-width: 1024px) {
//   .username {
//     display: flex;
//   }
// }

// // User link ===
.userLink {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  height: 20px;
  padding: 0 6px 0 0;
}

.avatar {
  border-radius: 20px;
  width: 20px;
  height: 20px;
  margin: 0 7px 0 0;
}

.username {
  color: var(--orange);
  position: relative;
  z-index: 1;
}

@media all and (min-width: 1024px) {
  .userLink {
    padding: 0 0 0 5px;
  }
}

@media all and (min-width: 1540px) {
  .userLink:hover a {
    text-decoration: underline;
  }
}
