@media all and (min-width: 1024px) {
  .cardsList {
    padding: 40px 0;
  }
}

[role="alert"] {
  text-align: center;
  color: red;
}

[role="status"] {
  text-align: center;
  color: black;
}

.postsFooter {
  padding: 50px 0;
}
